.search-page .header {
    padding-bottom: 10px;
    border-bottom: solid 1px #eeeeee;
}

.search-page .search-service {
    border-bottom: solid 2px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

.search-page .search-service__input {
    width: 100%;
    height: 40px;
    border: none;
    display: block;
    outline: none;
    font-size: 16px;
}

.search-page .search-service__input::placeholder {
    font-weight: 500;
    opacity: 0.5;
}

.search-page .search-service__input::after {
    content: 'TEST';
    width: 100px;
    height: 100px;
    background-color: red;
}

.search-page .filtered-service-count {
    text-align: center;
    color: #9b9b9b;
    font-size: 15px;
}

.search-page .no-image-notice {
    padding: 70px 0 0 0;
    height: 100px;
}

.emphasize {
    font-weight: 800;
    color: #000000;
}

.filtered-service {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}

.filtered-service .info {
    margin-left: 20px;
}

.filtered-service .info h6 {
    font-size: 13px;
    margin: 5px 0;
    font-weight: 500;
}
.filtered-service .info p {
    font-size: 12px;
}

.search-page .service-image {
    width: 125px;
    height: 80px;
}
